.clearfix {
  clear: both;
}

@font-face {
  font-family: glametrix;
  src: url("../fonts/Glametrix.otf") format("opentype");
}

@font-face {
  font-family: glametrix;
  font-weight: bold;
  src: url("../fonts/GlametrixBold.otf") format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


* {
  font-family: 'glametrix', sans-serif;
  font-size: 24px;

  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: none!important;
}

a:focus {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none!important;
}

/* =============== HEADER ================ */

header {
  position: fixed;
  margin-top: -88px;
  width: 100%;
  height: 88px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  background-color: white;
  z-index: 999;
}

header + div {
  margin-top: 88px!important;
}

img#logo {
  float: left;
  padding: 20px;
}

ul {
  list-style: none;
}

#lang-list {
  margin: 0px;
  padding: 32px 0px;
  text-transform: uppercase;
}

#lang-list li {
  display: inline-block;
	padding: 0px 3px;
}

#lang-list li a {
  display: inline;
  padding: 0px;
  color: gray;
  font-size: .85em;
}

/* =============== NAVBAR ================ */

.nav-bar {
  min-height: 40px;
  height: 40px;
  margin-bottom: 0px;
  background-color: #ea4c1d;
}

.nav-collapse ul {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.menu-btn {
  display: none;
}

@media (max-width: 991px) {
  .nav-collapse {
    display: none;
    margin-top: 88px!important;
    position: absolute;
    width: 100%!important;
    height: inherit;
    margin-left: -15px!important;
    background-color: rgba(255,255,255,0.95);
    transition: all 0s ease-in-out;

  }

  .nav-collapse ul {
    display: block;
  }

  .menu-btn {
    display: block;
    height: 40px;
    border: none;
    color: white;
    padding-top: 5px;
    float: right;
    background-color: white;
    color: #eae300;
    margin: 25px 10px;
    font-size: 1.5em;
  }

  nav .sub-menu {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
     display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
     display: -ms-flexbox;      /* TWEENER - IE 10 */
     display: -webkit-flex;     /* NEW - Chrome */
     display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 180px;
    z-index: 1;
    opacity: 1;
    margin-left: 30%;
    border-top: 1px solid rgb(202, 107, 47);
    border-bottom: 1px solid rgb(202, 107, 47);
  }

  nav ul li a {
    width: 120px!important;
    padding: 20px 0px!important;
    margin-left: 10%;
  }

  .sub-menu li a {
    width: 100%!important;
  }

}

.nav-bar ul li {
  display: inline;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav-bar ul li a {
  display: inline-block;
  height: 40px;
  color: white !important;
  padding: 10px 1px 10px 1px!important;
  font-size: .9em;
  width: 100%;
}



nav {
  text-transform: capitalize;

  color: #ea4c1d;
}

nav ul li {
  width: 100%;
  text-align: center;
  transition: all .15s ease-in-out;
}

nav ul li a {
  display: block;
  padding: 32px 0px;
  color: #ea4c1d;
  transition: all .15s ease-in-out;
}

nav ul li a:hover {
  text-decoration: none;
  color: #eae300;
}

@media (min-width: 992px) {
  nav .sub-menu {
    display: none;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: initial;
    width: 180px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.4);
    z-index: -1;
    opacity: 0;
  }

}

.sub-menu li {
 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
 display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
 display: -ms-flexbox;      /* TWEENER - IE 10 */
 display: -webkit-flex;     /* NEW - Chrome */
 display: flex;
}

.sub-menu li a {
  width: 100%;
  text-align: initial;
  padding: 10px 20px;
}

.nav-collapse > ul > li:hover > .sub-menu {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  z-index:1;
  opacity:1;
  border-radius: 0px 0px 10px 10px;
}

.nav-collapse > ul > li:hover > a {
  color: #eae300;
}

.dummy-anchor {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  z-index: -1;
  top: -138px;
  left: 0;
  visibility: hidden;
}
/* =============== END NAVBAR ============ */

.img-slider {
  padding: 0px;
  margin: 0px;
  background-color: white;
}
.land-img {
  margin: auto;
  width: auto;
  height: 500px;
  max-width: 1500px;

}

.banner {
  width: 100%;
  background-color: #eae300;
  padding: 35px 0px;
  margin-bottom: 55px;
}

.banner p {
  margin: 0px auto;
  max-width: 900px;
  text-align: center;
  color: white;
  font-size: 1.8em;
}

.banner h2 {
  font-size: 1.8em;
  color: white;
  margin-top: 0px;
}

.inside-banner {
  margin-top: 60px;
  margin-bottom: 60px;

}

.nomarginbanner {
  margin: 0px;
}

.info-box {
  font-size: 1.5em;
  color: #888;
  text-align: center;
  margin: 25px 0px;

}

.info-box h3 {
  color: #ea4c1d;
  text-align: center;
  font-size: 1.23em;
}

.info-box img {
  display: block;
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.info-box p {
  font-size: .7em;
}

img.info-img, img.team-img {
	-webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(.9);
	-ms-transform: scale(.9);
  transform: scale(.9);
}

a:hover img.info-img, a:hover img.team-img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
  transform: scale(1);
}



.team-box {
  font-size: 1.5em;
  color: #888;
  text-align: center;
  margin-top: 40px;
}

.team-box h3 {
  color: #ea4c1d;
  font-size: 1.23em;
}

.team-box img {
  width: 150px;
  border-radius: 50%;

}

.contact-wrap {
  position: relative;
  padding: 0px;
}

#map {
  width: 100%;
  height: 400px;
}

.footer-wrap {
  background-color: #ddd;
  padding: 50px;
	background: #ddd; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#eee, #eee, #ddd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eee, #eee, #ddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eee, #eee, #ddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eee, #eee, #ddd); /* Standard syntax */
}

#contact-info {
  color: white;
  text-align: center;
  background-color: #ea4c1d;
}

#contact-banner {
  margin-bottom: 0px;
}

@media (max-width: 769px) {
  #contact-info {
    padding: 20px;
  }

  #map {
    height: 380px;
  }

  .info-box p {
    font-size: .9em;
  }

  .team-box p {
    font-size: .9em;
  }
}

@media (min-width: 768px) {
  #contact-info {
    position: absolute;
    padding-top: 90px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    opacity: 0.9;
    bottom: 11%;
    left: 120px;
    z-index: 1;
  }
}
#contact-info ul {
  margin: 20px 0 0 0;
  padding: 0;
}

#contact-info i.fa {
  font-size: 20px;
}

.img-fixed {
  background-color: white;
}

.team-h2, .team-h3 {
  color: #ea4c1d;
}

.team-h2 {
  font-size: 2em;
}

.team-h3 {
  font-size: 1.1em;
}



p.text-p {  /* REVISAR !!! */
  color: #888;
  font-size: 1.2em;
  margin-bottom: 20px;
	letter-spacing: .5px;
  word-spacing: 4px;
}


.img-fixed ul {
  color: #888;
  padding: 0px;
}

.img-fixed ul li {
  font-size: 1.2em;
  padding: 5px 0px;
}

.img-fixed ul li span {
  color: #ea4c1d;
}

.img-fixed h2, .img-fixed h3 {
  color: #ea4c1d;
}

.img-fixed h2 {
  font-size: 1.6em;
}

.img-fixed h3 {
  font-size: 1.2em;
}

.info-circle {
  border-radius: 50%;
  background-color: #ea4c1d;
  width: 100%;
  margin-bottom: 60px;
  background: radial-gradient(#fa6315, #ea4c1d);

}

.info-circle p {
  color: white;
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.3em;
}

.info-circle a {
  color: white;
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.3em;
}

.circle-wrapper {
  text-align: center;
  margin-bottom: 45px;
}

.serv-circle {
  border-radius: 50%;
  background-color: #ea4c1d;
  width: 210px;
  height: 210px;
  margin-right: auto;
  margin-left: auto;
  background: radial-gradient(#fa6315, #ea4c1d);
}

.serv-circle img {
  width: 165px;
  margin-top: 20px;
}

.card {
  width: 210px;
  height: 210px;
  margin: auto;
  margin-bottom: 20px;
}

.front img {
  backface-visibility: visible!important;
}

.back {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  color: white;
}

.back p {
  backface-visibility: hidden;
  margin-top: 60px;
  font-size: 1.3em;
}

.back a {
  font-size: 1.35em;
  color: white;
}

.back:hover a {

}

.card-info {
  color: #888;
  font-size: 1.2em;
}
.team-img-fixed {
  position: fixed;
  top: 80px;
  z-index: -1;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

p.member-info {
  font-size: 1.3em;
}

/* ----- FOOTER ----- */
.footer-wrap {

  background-color: #eee;
  color: #999;
}

.footer-wrap a {
  color: #999;
}

.footer-wrap h3 {
  text-transform: lowercase;
  margin: 0 auto;
  min-width: 150px;
  width: inherit;

}

.footer-wrap ul {
  margin: 20px auto;
  padding: 0;
  text-align: left;
  width: inherit;
  min-width: 150px;
  text-transform: capitalize;
}

.footer-wrap ul li {
  padding: 3px 0;
}

.footer-wrap p {
  text-align: center;
  font-size: .8em;
}

#pdf-icon {
	width: 60px;
	float: left;
}

h3.text-p {
	font-size: 1.2em;
	color: #ea4c1d;
}

ul.text-p {
	  color: #888;
 		padding: 0px;
}

ul.text-p li {
	  font-size: 1.2em;
 		padding: 5px 0px;
}

ul.text-p li:before {
    content: "* ";
    color: #ea4c1d; /* or whatever color you prefer */
}

ol.text-p li {
  color: #888;
  font-size: 1.2em;
}

ol.text-p {
    margin-bottom: 20px;
}

.fader {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.down-icon {
  font-size: .7em;
  vertical-align: top;
  margin-left: 4px;
  transition: all .15s ease-in-out;

}

.flexslider {
  border: 0px;
}

.img-slider {
  transition: all 0s ease-in-out;
}

.quotes {
  height: 100px;
  background-color: transparent;
  margin-bottom: 20px;
}

.quotes .text-p {
  margin-bottom: 10px;
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
}

.extra-lang {
  padding: 0;
}

.extra-lang li {
  margin: 10px 0px;
  display: inline-block;
  margin-right: 10px;
}

.extra-lang li a {

}

.extra-lang li a span {
  margin-right: 10px;
  border-radius: 15%;
}

#open-popup:hover {
  cursor: pointer;
}

#popup {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
}

#popup .popup-container {
  width: 80%;
  height: 80%;
  background-color: white;
  margin: 50px auto;
  overflow: scroll;
  border-radius: 7px;
}

.popup-content h2 {
    text-align: center;
    padding-top: 5px;
    overflow: scroll;
    color: #ea4c1d;
    font-size: 1.5em;
}

.quotes ul {
  padding: 0 10%;
}

.quotes blockquote {
  font-style: italic;
  margin: 15px;
  font-size: 1em;
  padding: 0;
  border: 0;
  margin-bottom: 0px;
}

.quotes hr {
  border-top: 2px solid #eae300;
}

blockquote::before {
  content: "\"";
  font-size: 1.7em;
  vertical-align: middle;
}

blockquote::after {
  content: "\"";
  font-size: 1.7em;
  vertical-align: middle;
}

#close {
  float: right;
  display: inline;
  font-weight: bolder;
  font-size: 1.6em;
  margin-right: 20px;
  position: fixed;
  right: 10%;
  top: 55px;
}

#close:hover {
  cursor: pointer;
}

.extra-
.testcol {
  background-color: red;
  opacity: 0.5;
  height: 200px;
}
